.socialmedia-accounts a {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  background-size: 15px;
  background-image: url(../../images/svg/arrow-circle-right-solid.svg);
}

.socialmedia-accounts a[href^="https://www.facebook.com"] {
  background-image: url(../../images/svg/facebook-brands.svg);
}

.socialmedia-accounts a[href^="https://www.strava.com"] {
  background-image: url(../../images/svg/strava-brands.svg);
}

.socialmedia-accounts a[href^="https://www.linkedin.com"] {
  background-image: url(../../images/svg/linkedin-brands.svg);
}

.socialmedia-accounts a[href^="https://www.instagram.com"] {
  background-image: url(../../images/svg/instagram-square-brands.svg);
}

.socialmedia-accounts a[href^="https://www.twitter.com"] {
  background-image: url(../../images/svg/twitter-brands.svg);
}
